:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  min-height: 100vh;
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

.app-content-main {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.content-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  /* overflow: hidden; */
  color: var(--Font-600, #565e73);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.016px;
  margin-bottom: 20px;
}

.page-notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.page-notfound-container .page-notfound-images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  flex-shrink: 0;
}

@media (min-width: 1200px) {
  .page-notfound-container .page-notfound-images {
    height: 450px;
    flex-shrink: 0;
  }
}

.btn-toggle-color-mode {
  border: 0;
  outline: 0;
  background: none;
}

.locale-codename {
  color: var(--Font-600, #5d5d5d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
}

.profile-images {
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
}
