:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  min-height: 100vh;
  transition: background-color 0.5s, color 0.5s;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;
}

.app-content-main {
  height: auto;
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.content-heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  /* overflow: hidden; */
  color: var(--Font-600, #565e73);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.016px;
  margin-bottom: 20px;
}

.page-notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.page-notfound-container .page-notfound-images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  flex-shrink: 0;
}

@media (min-width: 1200px) {
  .app-content-main {
    width: 1000px;
    margin: 0 auto;
  }
  .page-notfound-container .page-notfound-images {
    height: 450px;
    flex-shrink: 0;
  }
}

.btn-toggle-color-mode {
  border: 0;
  outline: 0;
  background: none;
}

.locale-codename {
  color: var(--Font-600, #5d5d5d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  text-transform: uppercase;
}

.profile-images {
  border-radius: 50%;
  vertical-align: middle;
  width: 40px;
}

@media (min-width: 1200px) {
  .content-heading {
    font-size: 22px;
  }
  .thread-card-new .form-control {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}

.comments-form-input__textarea {
  /* display: flex; */
  padding: 12px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  border: 1px solid var(--Primary, #545f71);
  background: var(--White, #fff);
  color: var(--Font-800, #454545);
  /* Font/Body 2 */
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  width: 100%;
  height: auto;
  overflow: auto;
  text-transform: capitalize;
}

.comment-empty-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.comment-empty-container .comment-empty-images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 450px;
  height: auto;
}

.loading {
  position: sticky;
  top: 0px;
  z-index: 10000;
}

[data-theme='dark'] body {
  background-color: #262626;
  color: #fff;
}

[data-theme='dark'] .content-heading {
  color: #fff;
}

[data-theme='dark'] .comments-form-input__textarea {
  background: var(--Font-950, #262626);
  border: 0.917px solid var(--Font-400, #888);
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

[data-theme='dark'] .comments-btn-send {
  color: #fff;
}

/* [data-theme='dark'] .css-b62m3t-container .css-13cymwt-control {
  background: var(--Font-950, #262626) !important;
  border: 0.917px solid var(--Font-400, #888);
  color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
} */

.react-select-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  /* overflow: hidden; */
  color: var(--Font-600, #565e73);
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.016px;
  margin-bottom: 20px;
}
