.navbar {
  width: auto;
  height: 60px;
  background: #fff;
  box-shadow: 0px 0.917px 0.917px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 0.917px rgba(103, 110, 118, 0.16),
    0px 1.833px 4.583px 0px rgba(103, 110, 118, 0.08);
}

.navbar .container {
  width: 1000px;
}

.navbar .navbar-brand {
  color: var(--Danger-600, #ce2f2f) !important;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  user-select: none;
}

/* Responsive */

@media (min-width: 1200px) {
  .navbar .navbar-brand {
    margin: 0 auto;
    margin-right: 13px !important;
  }
}
