.search-bar-item {
  width: 100%;
  height: auto;
}

.search-bar-item .form-control {
  display: flex;
  /* width: 320px; */
  height: 40px;
  padding: 6px 12px;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 0.917px solid var(--Font-400, #888);
  color: var(--Font-300, #b0b0b0);
}
.search-bar-item .form-control,
input[type='text'] {
  color: var(--Font-600, #5d5d5d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
}

[data-theme='dark'] .search-bar-item .form-control {
  border: 0.917px solid var(--Font-400, #888);
  background-color: #262626;
  color: #fff;
}

[data-theme='dark'] .search-bar-item .form-control::placeholder {
  color: #fff;
}
