.user-profile-title {
  color: var(--Font-600, #5d5d5d);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
}

.user-profile-subheading {
  display: -webkit-box;
  /* width: 288px; */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  color: var(--Font-600, #5d5d5d);
  text-align: justify;
  text-overflow: ellipsis;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

[data-theme='dark'] .user-profile-title {
  color: #fff;
}

[data-theme='dark'] .user-profile-subheading {
  color: #fff;
}
